# SQL with Python Tutorial
## link: https://www.youtube.com/watch?v=zrNHkRgWzTI

In [1]:
# import libraries

import mysql.connector
from mysql.connector import Error
import pandas as pd

In [9]:
def create_server_connection(host_name, user_name, user_password):
    connection = None
    try:
        connection = mysql.connector.connect(
            host = host_name,
            user = user_name,
            passwd = user_password
        )
        print('MySQL Database connection successful.')
    except Error as err:
        print(f"Error:'{err}'")
    return connection

# Put our MySQL Terminal password

pw = 'Niyuanmike1'

# Database name
db = 'Nep_SQL_python'
connection = create_server_connection('localhost', 'root', pw)

MySQL Database connection successful.

In [4]:
# Create Database 'Nep_SQL_python'

def create_database(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        print('Database create successfully.')
    except Error as err:
        print(f"Error: '{err}'")

create_database_query = 'Create database Nep_SQL_python'
create_database(connection, create_database_query)

Error: '1007 (HY000): Can't create database 'nep_sql_python'; database exists'

In [13]:
# function for Connect to Database

def create_db_connection(host_name, user_name, user_password, db_name):
    connection = None
    try:
        connection = mysql.connector.connect(
            host = host_name,
            user = user_name,
            passwd = user_password,
            database = db_name
        )
        print('MySQL database connection successfull')
    except Error as err:
        print(f"Error: '{err}'")
    return connection

In [16]:
# function for Execute SQL queries

def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print('Query was executed successfully')
    except Error as err:
        print(f"Error: '{err}'")

In [17]:
# create table in database

create_orders_table = '''
create table orders(
order_id INT PRIMARY KEY,
customer_name VARCHAR(30) NOT NULL,
product_name VARCHAR(20) NOT NULL,
data_ordered DATE,
quantity INT,
unit_price FLOAT,
phone_number VARCHAR(20));
'''

# connect to the database
connection = create_db_connection('localhost', 'root', pw, db)
execute_query(connection, create_orders_table)

MySQL database connection successfull
Query was executed successfully